*{
    font-family: 'bein-normal';
}

body{
    background: var(--colorBack);
}
a{
    text-decoration: none !important;
    color: var(--colorIcon) !important;
}
.cc {
    cursor: pointer !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: var(--colorIcon) !important;
}
a.navbar-brand.hacked-font {
    color: var(--colorIcon) !important;
}
.navbar-toggle{
    border: 0px solid transparent;
    border-radius: 0px;
}
.list-group-item > .badge {
    float: right !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-bottom: 6px !important;
    background-color: #ffffff00;
    border: 0px solid #e4e4e4;
    border-bottom: 1px solid #ffffff1c !important;
    border-radius: 9px !important;
    margin: 3px;
    color: #999;
    text-align: left !important;
}
.namescolorApp {
    margin-top: 6px;
    margin-left: 10px;
    background: var(--colorTop) !important;
    color: #ffffff !important;
    cursor: pointer;
    border-radius: 50px;
}
.logo-app-e {
    height: 60px;
    width: 60px;
    float: left;
    margin-top: -11px;
    border-radius: 11px !important;
}
/*img.icon-app {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    margin-top: -129px;
    right: 29px;
    box-shadow: 2px 2px 6px 0px #7d7d7d;
}*/
/*.title{
    position: absolute;
    right: 129px;
    margin-top: -111px;
    font-size: 22px;
    color: #000;
} */

.title {
    position: absolute;
    right: 96px;
    margin-top: -118px;
    font-size: 20px;
    color: #000;
}
h2.NameAppR {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: right;
}
.topso {
    text-align: center;
    margin-top: 100px;
}
ul.clearfix li {
    width: 54px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 15px;
}
ul.clearfix li a {
    font-size: 11px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
ul.clearfix li a img {
    width: 60px;
    height: 60px;
    padding: 2px;
    border-radius: 50px;
    margin-bottom: 6px;
    text-align: center;
    box-shadow: 2px 2px 6px 0px #000;
}
span.dataTime {
    color: var(--colorTop) !important;
    font-size: 12px;
}
i.far.fa-mobile {
    margin-left: 5px;
}
.data {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
    text-align: right;
}
span.data.time {
    color: #101010;
    font-size: 14px;
}

.day{
    position: relative;
    margin-bottom: 11px;
    top: 3px;
    left: 4px;
}
/*.des{
    position: absolute;
    margin-top: -82px;
    right: 129px;
    color: #000;
}*/
.des {
    position: absolute;
    margin-top: -98px;
    right: 96px;
    color: #000;
    width: 65%;
}
.box-top{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    opacity: 0.9;
    filter: blur(1px);
    border-radius: 20px;
}
.box-home {
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0px #000;
    height: 120px;
}
.sh {
    padding: 8px;
    color: var(--colorTop) !important;
}
.list-group {
    padding-left: 0;
    margin-bottom: 15px;
}
.badge {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    background: #ffffff1c !important;
    color: #000;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #3330;
}

/*.logo-app-e {
    padding: 0px;
    height: 60px;
    width: 60px;
    float: left;
    margin-top: -10px;
    border-radius: 13px !important;
    /* border: 1px solid var(--colorIcon); */
    box-shadow: 2px 2px 6px 0px #ccc;
} */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background-color: #3330;
}

.navbar-inverse {
    background-color: var(--colorNav);
    border-color: var(--colorNav);
}
.navbarBotton {
    padding: 6px 45px 0px;
    box-shadow: 2px 2px 6px 0px #000;
}

span.label.namescolor {
    padding: 0 0px;
    position: relative;
    left: -1px;
    top: -2px;
}
img.iconWeb {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-bottom: 7px;
}
span.menuI{
    margin-top: 5px;
}

.principal{
	margin-top: 110px;
	margin-bottom: 49px;
}

.menu span{
	color: var(--colorIcon);
}

.home{
    width: 380px;
    margin: auto;
    transition: .4s all;
}
.btn-default {
    color: #333;
    background-color: #e0e0e0 !important;
    border-color: #e0e0e0 !important;
}
.btnS {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background: var(--colorIcon) !important;
    color: #fff !important;
    padding-top: 7px !important;
    outline: none !important;
}
.navbar-toggle {
    display: block !important;
    float: right !important;
    margin-left: 5px !important;
    margin-right: auto;
}
.top-navEmad {
    height: 51px;
    background: #fff;
    box-shadow: 2px 2px 6px 0px #7d7d7d;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
span.brand h1 {
    float: right;
    color: #607d8b;
    font-size: 18px;
    margin: 16px;
    text-align: right;
}
.top-navEmad .X i {
    font-size: 23px;
}
.top-navEmad .X {
    float: left;
    color: #607d8b !important;
    padding: 14px;
    text-align: left;
}
.web{
    text-align: center;
    margin-top: 15px;
    color: #999;
}
.box-navEmad ul li {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 13px;
}
.box-navEmad ul li.one,.box-navEmad ul li:hover,.web {
    background: var(--colorBackNav);
    color: var(--colorTop);
}
.navEmad {
    transition: .9s all;
    position: absolute;
    width: 100%;
    background: var(--colorIcon);
    padding: 10px;
    color: #fff;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.box-navEmad ul li i {
    margin-left: 5px;
}
.box-navEmad ul {
    list-style: none;
    width: 100%;
    display: contents;
}
.box-navEmad {
    margin-top: 61px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 39px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label,.data,h2.NameAppR,.text-muted{
    color: var(--colorTop) !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--colorTop);
    background-color: var(--colorNav);
    background-image: none;
    border: 1px solid var(--colorNav);
    border-radius: 13px;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #607d8b00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 rgba(102,175,233,.6);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102,175,233,.6);
}

* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
strong {
    color: #999;
}
.icon-url{
    color: var(--colorTop) !important;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}


/*  */
@media (max-width: 541px) {
    
.home{
    width: 100%;
    margin: auto;
    transition: .4s all;
}
    
}

.TxtPage{
    color: #999 !important;
    margin-top: 13px;
}
li.nav-item.col-sm-4.col-xs-4.col-md-4 a{
    color: #fff !important;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.noPost{
    text-align: center;
    color: #999;
    margin-top: 30px;
}
span a {
    color: #00BCD4 !important;
    font-size: 10px;
}
.colorPage1{
    background: -webkit-linear-gradient(left, #f9849a, #f75372);
    background: -o-linear-gradient(left, #f9849a, #f75372);
    background: linear-gradient(to right, #f9849a, #f75372);
}
.colorPage2{
    background: -webkit-linear-gradient(left, #5ac8fa, #2196f3);
    background: -o-linear-gradient(left, #5ac8fa, #2196f3);
    background: linear-gradient(to right, #5ac8fa, #2196f3);
}
.colorPage3{
    background: -webkit-linear-gradient(left, #feb47b, #ff7e5f);
    background: -o-linear-gradient(left, #feb47b, #ff7e5f);
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}
.colorPage4{
    background: -webkit-linear-gradient(left, #54f3dd, #39dcc5);
    background: -o-linear-gradient(left, #54f3dd, #39dcc5);
    background: linear-gradient(to right, #54f3dd, #39dcc5);
}
.colorPage5{
    background: -webkit-linear-gradient(left, #73e286, #50c564);
    background: -o-linear-gradient(left, #73e286, #50c564);
    background: linear-gradient(to right, #73e286, #50c564);
}
/*
.colorPage6{
    background: -webkit-linear-gradient(left, #14bdad, #009688);
    background: -o-linear-gradient(left, #14bdad, #009688);
    background: linear-gradient(to right, #14bdad, #009688);
}
*/

.colorPage6 {
    background: -webkit-linear-gradient(left, #14bdad, #009688);
    background: -o-linear-gradient(left, #14bdad, #009688);
    background: linear-gradient(to right, #FFC107, #FF5722);
    color: #fff !important;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.colorPage7{
    background: -webkit-linear-gradient(left, #9c27b0c4, #673AB7);
    background: -o-linear-gradient(left, #9c27b0c4, #673AB7);
    background: linear-gradient(to right, #9c27b0c4, #673AB7);
}


/*  */
@media (max-width: 375px) {
    
li.nav-item.col-sm-4.col-xs-4.col-md-4 a {
    font-size: 10px;
}
    
}